.cube-scene {
  width: 150px; 
  height: 200px; 
  perspective: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.cube {
  width: 50%;
  height: 130%;
  position: center;
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(45deg); /* Postavite kut rotacije ovdje */
}

.cube-face {
  position: absolute;
  width: 60px; 
  height: 60px; 
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; 
  font-weight: bold;
  color: #333;
}


.cube-face.front {
  transform: rotateY(0deg) translateZ(30px);
  background-color: #3498db;
}

.cube-face.back {
  transform: rotateY(180deg) translateZ(30px); 
  background-color: #e74c3c;
}

.cube-face.left {
  transform: rotateY(-90deg) translateZ(30px); 
  background-color: #f1c40f;
}

.cube-face.right {
  transform: rotateY(90deg) translateZ(30px); 
  background-color: #2ecc71;
}

.cube-face.top {
  transform: rotateX(90deg) translateZ(30px); 
  background-color: #9b59b6;
}

.cube-face.bottom {
  transform: rotateX(-90deg) translateZ(30px); 
  background-color: #e67e22;
}
